<p id="notice"><%= notice %></p>

<p>
  <b>Worker:</b>
  <%= @page.worker %>
</p>

<p>
  <b>Code:</b>
  <%= @page.code %>
</p>

<p>
  <b>Fn:</b>
  <%= @page.fn %>
</p>

<p>
  <b>Charset:</b>
  <%= @page.charset %>
</p>

<p>
  <b>Title:</b>
  <%= @page.title %>
</p>

<p>
  <b>Mime:</b>
  <%= @page.mime %>
</p>

<p>
  <b>Etag:</b>
  <%= @page.etag %>
</p>

<p>
  <b>Resp ms:</b>
  <%= @page.resp_ms %>
</p>

<p>
  <b>Length:</b>
  <%= @page.length %>
</p>

<p>
  <b>State:</b>
  <%= @page.state %>
</p>

<p>
  <b>Hash:</b>
  <%= @page.hash %>
</p>

<p>
  <b>Lm at:</b>
  <%= @page.lm_at %>
</p>

<p>
  <b>Exp at:</b>
  <%= @page.exp_at %>
</p>


<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
